html{
  height: 100vh;
  background:radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,233,204,1) 100%);
}

*{
  margin: 0;
  padding: 0;

}

.body {
  margin: 1.5%;
  text-align: center;
}

/* for App.js */
h1 {
  color:#128a66;
  font-size: 10px;
  font-family: 'Work Sans', sans-serif;
}
span {
  color:#FA8072; 
  
}

/* for Profile.js */
/* form {
  border
} */

input[type=submit] {
  width: 20%;
} 

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid gray; 
  border-radius: 4px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

}
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid gray; 
  border-radius: 4px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid gray; 
  border-radius: 4px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


.welcome{
  float: left;
  margin: 0;
}


.goals{
  float: left;
  margin: 0;
  padding: 0;
  
}

.w3-circle {
  background-color: black;
  color: white;
}

 
/* for Goals.js */
 .goal-div{
  width: 33%;
  float: left;
  margin: 0;
  padding: 0;
}

/* for Journals.js */
/* .journal-div{
  width: 33%;
  float:right;
  margin: 0;
  padding: 0;
} */
form {
  margin: 0;
}
.hide {
  display: none
}

