.nav {
  display: flex;
  flex-direction: row;
}
.button {
  background-color: purple;
  color: white;
  margin: 0 auto;
  padding: 1em 1.5em;
  text-decoration: none;
  border-radius: 5px;
  width: 100px;
  list-style-type: none;
  
}
.button:visted {
    color: white;
}
.button:hover {
    background-color: seagreen;
}

.fade-out {
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 5s;
    -moz-animation: fadeOut ease 5s;
    -o-animation: fadeOut ease 5s;
    -ms-animation: fadeOut ease 5s;
    -webkit-animation-fill-mode: forwards;
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}
