.nav {
  display: flex;
  flex-direction: row;
}
.button {
  background-color: purple;
  color: white;
  margin: 0 auto;
  padding: 1em 1.5em;
  text-decoration: none;
  border-radius: 5px;
  width: 100px;
  list-style-type: none;
  
}
.button:visted {
    color: white;
}
.button:hover {
    background-color: seagreen;
}